@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px 10%;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: white;
    z-index: 2;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.144);
}

nav {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: black;
}


header nav a {
    color: black;
    transition: all ease 0.6s;
    text-decoration: none;
}

header nav a:hover {
    color: #52C4BF;
}

header img:first-of-type {
    max-width: 75px;
}

header nav {
    display: flex;
    align-items: center;
    gap: 85px;
}

header div {
    display: flex;
    gap: 50px;
    align-items: center;
}

header article {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-direction: column;
    width: 40px;
}

header article section {
    width: 100%;
    background-color: black;
    height: 1px;
    display: none;
}

main {
    margin-top: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.plano {
    display: flex;
    /* align-items: center; */
    justify-content: flex-start;
    flex-direction: column;
    background: rgba(82, 196, 191, 0.3);
    border: 1px solid #52C4BF;
    border-radius: 10px;
    padding: 11px 22px;
    width: 100%;
    gap: 11px;
    font-family: "JetBrains Mono", monospace;
    padding-bottom: 28px;
}

.plano.principal h3 {
    color: #7A7676;
    margin-bottom: -8px;
}

.plano.principal h2 {
    font-size: 24px;
    font-weight: 700;
}

.plano.principal p {
    font-size: 14px;
    width: 120%;
    color: #3C3C3C;
    font-weight: 500;
}

.plano.principal strong {
    font-size: 14px;
    font-weight: 700;
}

.desc {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 492px;
    gap: 20px;
    border: 2px solid black;
    border-radius: 15px;
    padding: 40px;
    background-color: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.199);
}

.desc > p:nth-of-type(1) {
    align-self: flex-end;
}
.desc > h2 {
    align-self: flex-start;
}

.plano.cupons {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 11px;
}

.plano.cupons img:last-of-type {
    width: 20px;
}

.plano.cupons strong {
    font-size: 12px;
}

.plano.cupons h3 {
    font-size: 10px;
}

.plano.final {
    gap: 10px;
    justify-content: start;
    align-items: center;
    padding-bottom: 12px;
}



.plano.final section {
   display: flex;
   width: 100%; 
   align-items: center;
   justify-content: start;
   position: relative;
   gap: 20px;
   height: 50px;
}

.bolinha {
    display: flex;
    position: absolute;
    right: 11px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: white;
}


@media (max-width: 890px) {
    header nav {
        display: none;
    }

    header div article section {
        display: flex;
    }

    main {
        flex-direction: column;
        padding: 50px 0px;
    }

    main section {
        max-width: 80%;
        text-align: start;
        margin: 100px;
    }

    main article {
        align-self: center;
        margin-top: 0;
        justify-content: start;
        width: 80%;
    }

    .benefits {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 50px;
        align-items: center;
        justify-content: center;
    }

    .benefits article:after {
        display: none;
    }

    .benefits article {
        text-align: center;
        align-items: center;
        max-width: 40%;
        gap: 5px;
        margin: 15px;
    }

    .sobre-nos {
        flex-direction: column-reverse;
        gap: 50px;
    }

    .sobre-nos article {
        max-width: 90%;
        align-items: start;
        text-align: start;
    }

    .sobre-nos h2 {
        font-size: 30px;
    }

    .sobre-nos h6 {
        font-size: 14px;
    }

    .sobre-nos img {
        max-width: 30%;
    }

    .parceiras article img {
        max-width: 8%;
    }

    footer article:first-of-type {
        flex-direction: column;
        width: auto;
        align-self: flex-start;
        gap: 50px;
    }

    footer article section {
        max-width: 80%;
    }

}